.counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.counter button {
    font-size: large;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 6px;
    color: #313131;
    font-weight: 600;
    background-color: #FFD8E1;
    margin: 12px;
}

.counter button:hover {
    background-color: #313131;
    color: #F979AF;
    transition: 0.2s ease;
}